# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Folders
**/x64/
**/.vs/
**/.idea/
**/enc_temp_folder/
**/external/mysql
!**/external/mysql/.gitkeep
**/*build*/
**/doxygen-awesome-css/*
**/doc_doxygen/*